.click-text {
  cursor: pointer;
  color: #409eff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font: 1rem "PingFang SC","Arial","Lantinghei SC","Microsoft YaHei","HanHei SC","Open Sans","Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  letter-spacing: 0.01875rem;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  display: block;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-size: 1rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font: inherit;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

button {
  font: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  vertical-align: bottom;
  border-style: none;
}
